<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dash.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="bg-light">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <span class="mdl-layout-title text-right"><b>dexter</b> Classroom</span>
            </div>
        </header>
        <div class="mdl-layout__drawer border-0">
            <span class="mdl-layout-title pl-0 pr-0 text-center pt-3 pb-3" style="margin-bottom: -15px;">{{ session['dexter_classroom_session'] }}</span>
            <hr>
            <nav class="mdl-navigation pt-0">
                {% if request.path == '/dexter-challenges': %}
                    <a class="mdl-navigation__link nav_link_active" href="/dexter-challenges">Dexter Challenges</a>
                {% else: %}
                    <a class="mdl-navigation__link" href="/dexter-challenges">Dexter Challenges</a>
                {% endif %}
                {% if request.path == '/diy-challenges': %}
                    <a class="mdl-navigation__link nav_link_active" href="/diy-challenges">DIY Challenges</a>
                {% else: %}
                    <a class="mdl-navigation__link" href="/diy-challenges">DIY Challenges</a>
                {% endif %}
                {% if request.path == '/dashboard': %}
                    <a class="mdl-navigation__link nav_link_active" href="/dashboard">Dashboard</a>
                {% else: %}
                    <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
                {% endif %}
                {% if request.path == '/events': %}
                    <a class="mdl-navigation__link nav_link_active" href="/events">Events</a>
                {% else: %}
                    <a class="mdl-navigation__link" href="/events">Events</a>
                {% endif %}
                {% if request.path == '/settings': %}
                    <a class="mdl-navigation__link nav_link_active" href="/settings">Settings</a>
                {% else: %}
                    <a class="mdl-navigation__link" href="/settings">Settings</a>
                {% endif %}   
            </nav>
            <hr>
            <nav class="mdl-navigation text-center pt-0" style="margin-top: -15px; margin-bottom: -15px;">
                <a class="mdl-navigation__link" href="/signout">Sign Out</a>
            </nav>
            <hr>
        </div>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
            </div>
        </main>
    </div>

    <!-- firebase init -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAwau9l26Q57iepoEjQGNKzfEuQMhbVwVA",
            authDomain: "dexter-classroom.firebaseapp.com",
            databaseURL: "https://dexter-classroom.firebaseio.com",
            projectId: "dexter-classroom",
            storageBucket: "dexter-classroom.appspot.com",
            messagingSenderId: "627226131084"
        };
        firebase.initializeApp(config);
    </script> -->
    <!-- js files -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/material.min.js"></script>
</body>

</html>