<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/preloader.css">
</head>

<body class="bg-light">

    {% include 'preloader.html' %}

    <div id="main-content" class="d-none">
        <div class="home_bg">
            <a href="/">
                <h1 class="display-3 text-white text-center"><b class="font-weight-bold">dexter</b>
                    Classroom</h1>
            </a>
        </div>
        <form id="signin_form" method="POST" action="/" class="mdl-card mdl-shadow--6dp mx-auto m-5 p-4 pt-5 pb-5">
            <h2 class="h2 text-monospace mdl-color-text--primary text-center mt-0">Sign In</h2>
            <!--  -->
            <div class="mdl-textfield mdl-js-textfield">
                <input name="username" id="username_signin" class="mdl-textfield__input" type="text" maxlength="20">
                <label class="mdl-textfield__label">Username</label>
                <i id="u_check_signin" class="d-none material-icons mdl-color-text--green float-right" style="margin-top: -35px;">check_circle_outline</i>
                <i id="u_cross_signin" class="d-none material-icons mdl-color-text--brown float-right" style="margin-top: -35px;">highlight_off</i>
                <div id="u_cross_text_signin" class="mdl-tooltip mdl-color--brown" data-mdl-for="u_cross_signin">Test</div>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="password" id="password_signin" class="mdl-textfield__input" type="password" maxlength="20">
                <label class="mdl-textfield__label">Password</label>
                <i id="p_check_signin" class="d-none material-icons mdl-color-text--green float-right" style="margin-top: -35px;">check_circle_outline</i>
                <i id="p_cross_signin" class="d-none material-icons mdl-color-text--brown float-right" style="margin-top: -35px;">highlight_off</i>
                <div id="p_cross_text_signin" class="mdl-tooltip mdl-color--brown" data-mdl-for="p_cross_signin">Minimum
                    8
                    characters</div>
            </div>
            <!--  -->
            <a href="/forgot" class="mdl-color-text--primary">
                <p>Forgot Password ?</p>
            </a>
            <div class="text-center w-100">
                <button type="button" id="signin_offic" class="mdl-button--colored float-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Continue</button>
                <h5 class="h5 mt-2 d-inline-block text-monospace mdl-color-text--primary">or</h5>
                <a href="/new" class="mdl-button--accent float-left mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Sign
                    Up</a>
            </div>
        </form>
    </div>

    <!-- preloader -->
    <script>
        function preloader_hide() {
            setTimeout(function () {
                $("#preloader").fadeOut(500);
                setTimeout(function () {
                    document.getElementById("preloader").classList.replace("d-block", "d-none");
                    $("#main-content").fadeIn(510);
                    document.getElementById("main-content").classList.replace("d-none", "d-block");
                }, 490);
            }, 3500);
        }
        preloader_hide();
    </script>
    <!-- firebase init -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAwau9l26Q57iepoEjQGNKzfEuQMhbVwVA",
            authDomain: "dexter-classroom.firebaseapp.com",
            databaseURL: "https://dexter-classroom.firebaseio.com",
            projectId: "dexter-classroom",
            storageBucket: "dexter-classroom.appspot.com",
            messagingSenderId: "627226131084"
        };
        firebase.initializeApp(config);
    </script>
    <!-- js files -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/signin_op.js"></script>
</body>

</html>