<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body class="bg-light">

    <div class="home_bg">
        <a href="/">
            <h1 class="display-3 text-white text-center"><b class="font-weight-bold">dexter</b>
                Classroom</h1>
        </a>
    </div>
    <form class="mdl-card mdl-shadow--6dp mx-auto m-5 p-4 pt-5 pb-5">
        <h2 class="h2 text-monospace mdl-color-text--primary text-center mt-0">Sign Up</h2>
        <!--  -->
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label">Username</label>
            <i id="u_check" class="d-none material-icons mdl-color-text--primary float-right" style="margin-top: -35px;">check_circle_outline</i>
            <i id="u_cross" class="d-none material-icons mdl-color-text--accent float-right" style="margin-top: -35px;">highlight_off</i>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password">
            <label class="mdl-textfield__label">Password</label>
            <i id="p_check" class="d-none material-icons mdl-color-text--primary float-right" style="margin-top: -35px;">check_circle_outline</i>
            <i id="p_cross" class="d-none material-icons mdl-color-text--accent float-right" style="margin-top: -35px;">highlight_off</i>
        </div>
        <!--  -->
        <div class="mdl-textfield mdl-js-textfield w-75">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label">Community code</label>
        </div>
        <div style="margin-top:-60px; margin-bottom: 25px;">
            <button type="button" class="float-right mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect p-0">Verify</button>
        </div>
        <!--  -->
        <div id="ph_holder" class="d-block mdl-textfield mdl-js-textfield w-75">
            <input id="phone-number" class="pl-5 mdl-textfield__input" type="number">
            <label class="pl-5 mdl-textfield__label">Phone number</label>
            <span style="margin-top:-31px;margin-left:-0px; position: absolute;">+91</span>
            <i id="ph_check" class="d-none material-icons mdl-color-text--primary float-right" style="margin-top: -35px;">check_circle_outline</i>
            <i id="ph_cross" class="d-none material-icons mdl-color-text--accent float-right" style="margin-top: -35px;">highlight_off</i>
        </div>
        <div id="ph_btn_holder" class="d-block" style="margin-top:-60px; margin-bottom: 25px;">
            <button id="btn_ph_ver" type="button" class="float-right mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect p-0">Verify</button>
        </div>
        <!--  -->
        <div id="ver_holder" class="d-none mdl-textfield mdl-js-textfield w-50">
            <input id="ver_code" class="mdl-textfield__input" type="number">
            <label class="mdl-textfield__label">Code</label>
        </div>
        <div id="ver_btn_holder" class="d-none" style="margin-top:-60px; margin-bottom: 25px" align="right">
            <button id="ver_code_btn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect p-0">Verify</button>
            <button id="btn_cancel" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect p-0">Cancel</button>
        </div>
        <!--  -->
        <div class="text-center w-100">
            <button class="mdl-button--colored float-left mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Go</button>
        </div>
        <!--  -->
        <button id="sign-in-button_offic" class="d-none"></button>
    </form>

    <!-- firebase init -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAwau9l26Q57iepoEjQGNKzfEuQMhbVwVA",
            authDomain: "dexter-classroom.firebaseapp.com",
            databaseURL: "https://dexter-classroom.firebaseio.com",
            projectId: "dexter-classroom",
            storageBucket: "dexter-classroom.appspot.com",
            messagingSenderId: "627226131084"
        };
        firebase.initializeApp(config);
    </script>
    <!-- js files -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/auth.js"></script>
</body>

</html>